.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-top: 5px solid rgb(255,255,255);
    margin-left: 5px;
}

.filter_button {
	outline: none;
}
