.track {
    align-items: stretch;
    padding: 0px 10px;

    & .track_details {
        & .position, & .title, & .duration {
            padding: 0px 10px;
        }
    }
    & .sleeve_notes {
        padding: 0px 5px;
        & pre {
            margin: 5px 0px;
        }
    }
}
