.track_info {
    border-top: 1px solid black;
    padding: 0px 8px !important;
}

.more_button.track {
    border-left: 1px solid black;
    padding-left: 15px;
    & ng-md-icon {
        border: none;
    }
}

.position {
    padding: 10px;
}
.title {
    padding: 10px;
}
.duration {
    padding: 10px;
}
