<div ng-controller="FilterController" id="filters">
    <div layout="row"
        layout-align="center center"
        layout-sm="column"
        layout-align-sm="center center">
        <md-input-container>
            <label>Search</label>
            <input ng-model="filter_options.filter_text">
        </md-input-container>
        <div layout="row">
            <md-button
                ng-class="{'md-accent' : sort_key==filter_options.sort_order}"
                ng-repeat="sort_key in filter_options.sort_keys"
                ng-click="select_tab(sort_key)"
                value="{{sort_key}}" 
                aria-label="{{sort_key}}" >
                {{sort_key | capitalize}}
            </md-button>
        </div>
        <div layout="row">
            <md-switch ng-model="filter_options.filters.to_download">To Download</md-switch>
        </div>
    </div>
</div>
