.search_options {
    padding: 5px 0;
    & .thumb {
        height: 35px;
        width: 35px;
        }
    & .artist {
        padding: 0 5px;
    }
    & .album_title {
        padding-right: 5px;
    }
}

.artist {
    font-weight: bold;
}

.selected_summary {
    margin-top: 5px;
    padding: 10px 5px;
    background-color: rgb(250,250,250);

    & .thumb {
        height: 80px;
        width: 80px;
    }
    & .artist {
        padding-bottom: 10px;
    }
    & .album_title {
        padding-bottom: 10px;
    }

}

.selected_details {
    padding: 0 10px;
}
