.add_dialog {
    min-width: 300px;
    min-height: 270px;

    & md-autocomplete {
        padding: 10px;
    }
}

.search_result_row {
    padding: 5px 0;
    & .thumb {
        height: 35px;
        width: 35px;
        }
    & .artist {
        padding: 0 5px;
    }
    & .album_title {
        padding-right: 5px;
    }
}

.selected_item {
    margin-top: 5px;
    padding: 10px 5px;
    background-color: rgb(250,250,250);

    & .thumb {
        height: 80px;
        width: 80px;
    }
    & .artist {
        padding-bottom: 10px;
        font-weight: bold;
    }
    & .album_title {
        padding-bottom: 10px;
    }
    & .selected_details {
        padding: 0 10px;
    }
}

