{% load staticfiles %}
<html ng-app="recordApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script src="{% static "record/vendor.js" %}"></script>
        <script src="{% static "record/templates.js" %}"></script>
        <script src="{% static "record/index.js" %}"></script>
        <link rel="stylesheet" type="text" href="{% static "record/vendor.css" %}">
        <link rel="stylesheet" type="text" href="{% static "record/index.css" %}">
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-75004083-1', 'auto');
		  ga('send', 'pageview');
		</script>
    </head>
    <body ng-controller="MainController">
        <left></left>
        <panel></panel>
        <md-content>
            <nav></nav>
            <collection></collection>
        </md-content>
    </body>
</html>
