{% load staticfiles %}
<html ng-app="recordApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <script src="{% static "record/vendor.js" %}"></script>
        <script src="{% static "record/templates.js" %}"></script>
        <script src="{% static "record/index.js" %}"></script>
        <link rel="stylesheet" type="text" href="{% static "record/vendor.css" %}">
        <link rel="stylesheet" type="text" href="{% static "record/index.css" %}">
    </head>
    <body ng-controller="MainController">
        <left></left>
        <panel></panel>
        <md-content>
            <nav></nav>
            <collection></collection>
        </md-content>
    </body>
</html>
