md-backdrop, md-sidenav {
    position: fixed;
}
md-tabs {
    min-height: 100%;
}
#notes {
    & pre {
        white-space: pre-wrap;
    }
}

#save_button, #add_button, #delete_button {
    text-align: center;
    padding: 10px;
}

#rating_container {
    align-items: center;
    padding: 0px 6px;
    padding-bottom: 26px;
    color: rgba(0,0,0,0.26);
}

#checkbox_container {
    padding: 0px 6px;
    color: rgba(0,0,0,0.26);
        & label {
            padding-bottom: 26px;
        }
}

md-card {
    margin: initial;
}
md-card md-card-content {
    padding: 8px;
}
