panel {
    & md-backdrop, & md-sidenav {
        position: fixed;
    }

    & form {
        margin: 10px;
        & md-input-container {
            width: 100%;
        }
    }

    & #checkbox_container {
        padding: 0px 6px;
        color: rgba(0,0,0,0.26);

        & label {
            padding-bottom: 26px;
        }
    }
}
