.record {
    align-items: stretch;
    padding: 10px !important;
}

.record_container {
  padding: 0px 16px;
}

.container {
  border: 1px solid black;
}

.thumb_container {
  padding: 10px;
}

.thumb {
    width: 100px;
}

.record_info {
    padding: 10px;
}

.more_button {
    width: 60px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    & ng-md-icon {
        padding: 10px;
        border: 1px solid rgb(184, 184, 184);
    }
}
