<div ng-controller='RecordController'>
    <md-list-item class="record" layout="column">
      <div layout="row" ng-click="is_expanded=!is_expanded">
        <div class="thumb_container">
            <img class="thumb" ng-src='{{record.thumb}}' /><br />
        </div>
        <div class="record_info" flex>
            <div layout="column">
                <div ng-bind="record.title"></div>
                <div layout="row">
                    <p ng-repeat='artist in record.artists'>{{artist.name}} </p> <p> - </p> <p>{{record.year}}</p>
                </div>
            </div>
        </div>
        <div class="more_button" style="width: 40px" ng-click="panel($event)">
            <md-icon>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" />
                    </svg>
            </md-icon>
        </div>
      </div>
      <md-list ng-if="is_expanded">
        <track ng-repeat='track in record.tracklist'></track><br />
      </md-list>
        <div hide>
            Notes: {{record.notes}}<br /><br /><br />
        </div>
    </md-list-item>
</div>
