.record {
    align-items: stretch !important;
    padding: 5px 10px;
    & .thumb {
        width: 80px;
        height: 80px;
    }
    & .record_details {
        padding: 0px 10px;
    }
    & .track_list {
        padding: 0px;
    }
}
