<md-list-item layout="column" class="record" ng-controller='RecordController'>
    <div class="record_container" layout="row" ng-click="is_expanded=!is_expanded">
        <div class="thumb_container">
            <img class="thumb" ng-src='{{record.thumb}}' /><br />
        </div>
        <div class="record_info" flex>
            <div layout="column">
                <div class="record_title" ng-bind="record.title"></div>
                <div class="record_artist" layout="row">
                    <artist ng-repeat='artist in record.artists'></artist>
                </div>
                <div class="record_year">{{record.year}}</div>
            </div>
        </div>
        <div class="more_button" layout="column">
            <ng-md-icon ng-click="panel($event)" icon="more_horiz"></ng-md-icon>
        </div>
    </div>
    <md-list class="track_list" ng-if="is_expanded">
        <track ng-repeat='track in record.tracklist'></track>
    </md-list>
    <div hide>
        Notes: {{record.notes}}<br /><br /><br />
    </div>
</md-list-item>
